/*Mobile*/
@media (max-width: 740px) {
  body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 240, 240);

    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .container {
    width: 280px;
    height: 315px;
    text-align: center;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 5px 20px 0px 20px;
    padding: 20px;
  }

  h1 {
    font-size: 13px;
  }

  .button-container {
    display: flex;
    text-align: left;
  }

  #saveButton {
    padding: 5px 9px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
  }

  #openButton {
    padding: 5px 9px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
  }

  .code-container {
    width: 285px;
    height: 130px;
    border: 1px solid #bbbbbb;
    overflow-y: scroll;
    display: flex;

  }

  #lines {
    font-size: 9px;

  }

  #code {
    font-size: 9px;
  }

  #run_btn {

    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
  }

  #btn_xoa {
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 12px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
  }

  h3 {
    font-size: 11px;
    width: 10px;
    height: 10px;
  }

  #Output {
    font-size: 12px;
    height: 45px;
    width: 285px;
    border: 1px solid black;
    color: rgb(0, 30, 255);
    overflow-wrap: break-word;
  }

  .title1,
  .title2 {
    font-size: 13px;
    margin: -5px -25px 5px 20px;
  }

  .HCN {
    position: relative;
    width: 350px;
    height: 230px;
    margin: -40px 20px 0px 20px;
  }

  .HCN img {
    width: 335px;
    height: 230px;

  }

  .push-buttons {
    width: 82px;
    height: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    border: 3px solid #000000;
    right: 189px;
    top: 89%;
    left: 65.5%;
  }

  .button {
    padding: 6px 6.5px;
    background-color: #fcfcfc;
    border-radius: 22px;
    width: 13px;
    height: 15px;
  }

  .active {
    background-color: red;
  }

  .Dip-switches {
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 126.8px;
    top: 200px;
    align-items: center;
  }

  .switch {
    width: 10.5px;
    height: 15px;
    position: relative;
  }

  .switch-label {
    display: inline-block;
    width: 9px;
    height: 15px;
    background-color: #666;
    border-radius: 2.5px;
    cursor: pointer;
    position: relative;
    border: 1.5px solid #000000;
    margin: auto;
    align-items: center;
  }

  .switch-input:checked+.switch-label {
    width: 9px;
    /* background-color: red; */
  }

  .switch-label::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9.5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    top: 0px;
    left: 0px;
    transition: transform 0.2s ease-in-out;
  }

  .switch-input:checked+.switch-label::after {
    transform: translateY(6px);
  }

  .segment1,
  .segment2,
  .segment3,
  .segment4 {
    width: 22px;
    height: 21px;
    border-radius: 1px;
    background-color: #000000;
    border: 3.5px solid #ffffff;
    display: flex;
    flex-wrap: wrap;
    position: absolut;
  }

  .segment1 {
    top: 71%;

    right: 83%;

  }

  .segment2 {
    top: 71%;

    right: 73%;
  }

  .segment3 {
    top: 71%;

    right: 62%;
  }

  .segment4 {
    top: 71%;

    right: 53.5%;
  }

  .segment {
    display: inline-block;
    width: 45px;
    height: 55px;
    position: relative;
    margin: 10px;
    right: 140px;
    top: -80.5px;
  }

  .segment .bar {
    position: absolute;
    background-color: red;
    border-radius: 10%;
  }

  .segment .bar.top {
    top: 20%;
    right: 21.9%;
    width: 1.5px;
    height: 5px;
    transform: rotate(90deg);
    transform-origin: top right;
    border-radius: 10%;
  }

  .segment .bar.top-left {
    top: 20%;
    left: 64%;
    width: 1.5px;
    height: 5px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment .bar.top-right {
    top: 20%;
    left: 78.5%;
    width: 1.6px;
    height: 5px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment .bar.bottom-right {
    top: 33.5%;
    left: 79%;
    width: 1.4px;
    height: 5px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment .bar.bottom-left {
    bottom: 5px;
    top: 33.5%;
    left: 64%;
    width: 1.5px;
    height: 5px;
    transform: rotate(0deg);
    transform-origin: bottom left;
    border-radius: 10%;
  }

  .segment .bar.bottom {
    bottom: 5px;
    top: 36%;
    right: 32.5%;
    width: 1.5px;
    height: 5.4px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment .bar.center {
    bottom: 5px;
    top: 24%;
    right: 32.5%;
    width: 1.5px;
    height: 5px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment .bar.dot {
    bottom: 5px;
    top: 44%;
    right: 15%;
    width: 4%;
    height: 3%;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment5 {
    display: inline-block;
    width: 45px;
    height: 55px;
    position: relative;
    margin: 10px;
    right: 105px;
    top: -155px;
  }

  .segment5 .bar1 {
    position: absolute;
    background-color: red;
    border-radius: 10%;
  }

  .segment5 .bar1.top {
    top: 20%;
    right: 22.9%;
    width: 1.7px;
    height: 5px;
    transform: rotate(90deg);
    transform-origin: top right;
    border-radius: 10%;
  }

  .segment5 .bar1.top-left {
    top: 20%;
    left: 62%;
    width: 1.7px;
    height: 5px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment5 .bar1.top-right {
    top: 20%;
    left: 78%;
    width: 1.5px;
    height: 5px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment5 .bar1.bottom-right {
    top: 34%;
    left: 78%;
    width: 1.7px;
    height: 5.2px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment5 .bar1.bottom-left {
    bottom: 5px;
    top: 34%;
    left: 62%;
    width: 1.7px;
    height: 5.2px;
    transform: rotate(0deg);
    transform-origin: bottom left;
    border-radius: 10%;
  }

  .segment5 .bar1.bottom {
    bottom: 5px;
    top: 37%;
    right: 33.8%;
    width: 1.5px;
    height: 5px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment5 .bar1.center {
    bottom: 5px;
    top: 24.5%;
    right: 33.5%;
    width: 1.5px;
    height: 5px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment5 .bar1.dot {
    bottom: 5px;
    top: 43%;
    right: 15%;
    width: 4%;
    height: 3%;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment6 {
    display: inline-block;
    width: 45px;
    height: 55px;
    position: relative;
    margin: 10px;
    right: 65px;
    top: -230px;
  }

  .segment6 .bar2 {
    position: absolute;
    background-color: red;
    border-radius: 10%;
  }

  .segment6 .bar2.top {
    top: 19.8%;
    right: 23%;
    width: 1.7px;
    height: 5.2px;
    transform: rotate(90deg);
    transform-origin: top right;
    border-radius: 10%;
  }

  .segment6 .bar2.top-left {
    top: 20%;
    left: 61.5%;
    width: 1.7px;
    height: 5.4px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment6 .bar2.top-right {
    top: 20%;
    left: 77.5%;
    width: 1.7px;
    height: 5.4px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment6 .bar2.bottom-right {
    top: 33%;
    left: 77.5%;
    width: 1.5px;
    height: 5.8px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment6 .bar2.bottom-left {
    bottom: 5px;
    top: 33%;
    left: 61.5%;
    width: 1.7px;
    height: 5.5px;
    transform: rotate(0deg);
    transform-origin: bottom left;
    border-radius: 10%;
  }

  .segment6 .bar2.bottom {
    bottom: 5px;
    top: 36.2%;
    right: 35%;
    width: 1.5px;
    height: 5.7px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment6 .bar2.center {
    bottom: 5px;
    top: 24%;
    right: 33.9%;
    width: 1.5px;
    height: 5px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment6 .bar2.dot {
    bottom: 5px;
    top: 44%;
    right: 15%;
    width: 4%;
    height: 3%;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment7 {
    display: inline-block;
    width: 45px;
    height: 55px;
    position: relative;
    margin: 10px;
    right: 36px;
    top: -305px;
  }

  .segment7 .bar3 {
    position: absolute;
    background-color: red;
    border-radius: 10%;
  }

  .segment7 .bar3.top {
    top: 19%;
    right: 23%;
    width: 1.9px;
    height: 5.2px;
    transform: rotate(90deg);
    transform-origin: top right;
    border-radius: 10%;
  }

  .segment7 .bar3.top-left {
    top: 19.5%;
    left: 62%;
    width: 1.5px;
    height: 5.5px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment7 .bar3.top-right {
    top: 20%;
    left: 78%;
    width: 1.5px;
    height: 5.5px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment7 .bar3.bottom-right {
    top: 33.8%;
    left: 78%;
    width: 1.5px;
    height: 5.4px;
    transform: rotate(0deg);
    transform-origin: top left;
    border-radius: 10%;
  }

  .segment7 .bar3.bottom-left {
    bottom: 5px;
    top: 34%;
    left: 62.4%;
    width: 1.5px;
    height: 5.2px;
    transform: rotate(0deg);
    transform-origin: bottom left;
    border-radius: 10%;
  }

  .segment7 .bar3.bottom {
    bottom: 5px;
    top: 37.5%;
    right: 34.5%;
    width: 1.5px;
    height: 5.2px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment7 .bar3.center {
    bottom: 5px;
    top: 24%;
    right: 34.3%;
    width: 1.5px;
    height: 5px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .segment7 .bar3.dot {
    bottom: 5px;
    top: 44.5%;
    right: 15%;
    width: 4%;
    height: 3%;
    transform: rotate(90deg);
    transform-origin: bottom right;
    border-radius: 10%;
  }

  .Bar-Leds {
    width: 279px;
    height: 5px;
    background-color: rgb(6, 35, 73);
    position: absolute;
    top: 83.2%;
    left: 8.5%;
    flex-wrap: wrap;
    display: flex;
    border: 2px solid #041f52;

  }

  .led {
    width: 8.7px;
    height: 5.7px;
    border-radius: 2px;
    background-color: #ccc;
    border: 1px solid #000000;
  }

  .ledgreen {
    width: 8.7px;
    height: 5.7px;
    border-radius: 2px;
    background-color: #ccc;
    border: 1px solid #000000;
  }

  .active_ledred {
    background-color: red;
  }

  .active_ledgreen {
    background-color: rgb(25, 246, 5);
  }


}